@import "../../../../assets/styles/fonts.scss";
.egg-toolbar{
    padding-bottom: 40px;
    .header-sidebar-user{
        position:relative;
        right:0;
    }

    .header-sidebar-content{
        min-height:90px;
    }

    .app-header-content{
        padding-top:5%;
        padding-bottom:5%;
        .logo{
            padding-top:20px;
            background: none;
            border: none;
            box-shadow: none;
        }
        mat-card{
            background:none;
        }
        .title{
            display:flex;
            flex-direction: column;
            align-items: flex-start;
            color:rgb(221, 221, 221);
            font-family: 'spacecow';
            font-size:2em;
            padding-top:50px;
            span{
                font-size:2em;
                outline : none;
                border : 0;
                cursor:pointer;
            }
            p{
             padding: 5px;
             margin-top:30px;
            }
         }
    }
    .side-menu{
        display:flex;
        justify-content:flex-end;
        font-family: 'spacecow';
        font-size:30px;
        width:95%;
        &>*{
            width:80px;
            text-decoration: none;
            color:#dddddd;
            text-align:center;
            align-self:center;
        }
    }
}



span{
    cursor : pointer;
}