<mat-card class="post-box">
    <mat-card-header class="__card-header">
        
        <mat-card-title class="__card-titles">
            <ng-content select=".card-thumbnail"></ng-content>
            <ng-content select=".card-title"></ng-content>
        </mat-card-title>

        <mat-card-subtitle class="__card-author">
            <ng-content select=".card-author"></ng-content>
        </mat-card-subtitle>

        <mat-card-subtitle class="__tags">
            <ng-content select=".card-hashtags"></ng-content>
        </mat-card-subtitle>
    </mat-card-header>



    <mat-card-content class="__card-content">
        <ng-content select=".card-content" class="post-item"></ng-content>
    </mat-card-content>

    <div class="post-box__footer">
        <mat-card-actions class="__card-actions">
            <ng-content select=".card-footer"></ng-content>
        </mat-card-actions>
    </div>

</mat-card>