<article class="post-list__container">
  <div *ngFor="let post of vm.postBlog">
    <egg-card>
      <div *ngIf="post.thumbnail" class="card-thumbnail">
        <img [src]="post.thumbnail" />
      </div>
      <ng-container class="card-title">
        <p routerLink="/post/{{post.id}}">{{post.title}}</p>
      </ng-container>

      <small class="card-author">{{post.author}} - {{post.published}} &bull; From Medium</small>

      <div class="card-hashtags">
        <ng-container *ngFor="let category of post.categories">
          <a href="#">{{category}}</a>
        </ng-container>
      </div>



      <p class="card-content">{{ post.description}}</p>

      <ng-container class="card-footer">
        <reaction [postId]="post.id"></reaction>
      </ng-container>

    </egg-card>
  </div>
</article>