<article class="category__content">
    <egg-card>
        <ng-container class="card-title">
            <p>#Challenges</p>
        </ng-container>

        <ng-container class="card-content">
            <ul>
                <li>
                    <span><a href="#">ABC Angular</a>
                        <p><small>learning alphabetically</small></p>
                    </span>
                </li>
                <li>
                    <span><a href="#">10 days with Rxjs</a>
                        <p><small>learning for 10 days</small></p>
                    </span>
                </li>
                <li>
                    <span><a href="#">10 days with Redux</a>
                        <p><small>learning for 10 days</small></p>
                    </span>
                </li>
            </ul>
        </ng-container>
    </egg-card>
</article>