<app-header></app-header>
<!-- <reaction></reaction> -->
<div *ngIf="(vm$ | async) as vm"
     fxLayoutAlign="flex-start"
     class="feeds__container" 
     fxLayout.lt-sm="column" 
     fxLayout="row wrap"
     fxLayoutGap="32px">
    
     <div 
        fxFlex="0 1 calc(26% - 32px)"
        fxFlex.lt-md="0 1 calc(25% - 32px)"
        fxFlex.lt-sm="100%"
        class="social__container">
        <app-socials></app-socials>
    </div>   

    <div 
        fxFlex="0 1 calc(50% - 32px)" 
        fxFlex.lt-md="0 1 calc(50% - 32px)"
        fxFlex.lt-sm="100%"
        class="postlist__container"
    >
        <app-post-list [vm]="vm"> </app-post-list>
    </div>

    <div 
        fxFlex="0 1 calc(25% - 32px)"
        fxFlex.lt-md="0 1 calc(25% - 32px)"
        fxFlex.lt-sm="100%"
        class="features__container">
        
        <app-challenges></app-challenges>
        <app-recommendation></app-recommendation>
    </div>    
</div>



 