<app-header></app-header>
<reaction></reaction>
<div *ngIf="(vm$ | async) as vm"
     fxLayoutAlign="flex-start"
     class="feeds__container" 
     fxLayout.lt-sm="column" 
     fxLayout="row wrap"
     fxLayoutGap="32px">
    
     <app-post-list 
        fxFlex="0 1 calc(70% - 32px)" 
        fxFlex.lt-md="0 1 calc(70% - 32px)"
        fxFlex.lt-sm="100%"
        [vm]="vm"></app-post-list>
    
    <div 
        fxFlex="0 1 calc(30% - 32px)"
        fxFlex.lt-md="0 1 calc(30% - 32px)"
        fxFlex.lt-sm="100%"
        class="features-container">
        <app-categories></app-categories>
        <app-challenges></app-challenges>
    </div>    
</div>



 