.post-detail__container{
  padding:25px;
  justify-content: center;
  .post-detail__card{
    width:80%;
    margin:0 auto;
  }
  
  .card-title {
    word-break: break-all;
    font-size:2em;
    width:100%;
    line-height: 1;
  }
  .card-author{
    text-align:left;
  }
}

 :host ::ng-deep{
   width:60%;
  .card-content{
    word-break: break-all;
    p{
      font-size:16px;
    }
    a{
        text-decoration:none;
    }
    ol{
      font-size:16px;
      li{
        line-height: 2;
      }
    }
    .medium-feed-image a{
      display:flex;
      flex-direction: column;
      align-items: center;
      img{
        object-fit:contain;
        width:100%;
      }
    }

    figure{
      display:flex;
      flex-direction: column;
      align-items: center;
      img{
        object-fit:contain;
        width:100%;
      }
    }
  }
}   




