<div class="wrapper" (mouseenter)="toggleShow(true)" (mouseleave)="toggleShow(false)">
    <div class="emojis" *ngIf="showEmojis">
        <span *ngFor="let emoji of emojiList; index as i;">
            <img [src]="emojiPath(emoji)" width='75px' (click)="react(i)">
        </span>

    </div>
 
    
    <div class="reactions">
        <div *ngFor="let emoji of emojiList; index as i;" class="reaction.counts">
            <span *ngIf="hasReactions(i)">
                <img [src]="emojiPath(emoji)" />{{ reactionCount[i] }}
            </span>
        </div>
    </div> 

</div>