<article class="miniprofile__content">
    <egg-card>
        <ng-container class="card-title">
            <div class="author">
                <p>{{author}}</p>
                <small>@aaronfrost</small>

            </div>
        </ng-container>
        <ng-container class="card-content">

            <div class="detail">
                <div class="avatar">
                    <img class="circle-avatar" [src]="feed.image" />
                </div>
                <div class="detail__item">
                    <span>Work</span>
                    <p>Principal Frontend Engineer at HeroDevs</p>
                </div>
                <div class="detail__item">
                    <span>Location</span>
                    <p>Salt Lake City</p>
                </div>
            </div>
        </ng-container>
    </egg-card>
</article>